node_modules
.env
.env.*
# Local Netlify folder
.netlify
bubblewrap
build
frontend/build
frontend/dist/android-chrome-192x192.png
frontend/dist/android-chrome-512x512.png
frontend/dist/apple-touch-icon.png
frontend/dist/favicon-16x16.png
frontend/dist/favicon-32x32.png
frontend/dist/favicon.ico
frontend/dist/index.html
frontend/dist/manifest.webmanifest
frontend/dist/registerSW.js
frontend/dist/robots.txt
frontend/dist/sw.js
frontend/dist/vite.svg
frontend/dist/workbox-5ffe50d4.js
frontend/dist/assets/beef-BvxpK2nH.png
frontend/dist/assets/button-BmVo_1Ww.js
frontend/dist/assets/CartPage-DnBKpVeX.js
frontend/dist/assets/chicken-C8UsHCdG.webp
frontend/dist/assets/egg-LyCg1Ci8.jpg
frontend/dist/assets/goat-av0fYLF4.jpeg
frontend/dist/assets/Home-C8yBNfvY.js
frontend/dist/assets/index-CTzV3bGT.css
frontend/dist/assets/index-E8zi_L0b.js
frontend/dist/assets/main-Bi5fGRn2.js
frontend/dist/assets/NotFound-BWqmdJhF.js
frontend/dist/assets/ProductPage-BfCImwOg.js
frontend/dist/assets/utils-uYTjRYPR.js
.env